<p id="notice"><%= notice %></p>

<p>
  <strong>Nombredepeliculas:</strong>
  <%= @peliculass.NombredePeliculas %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @peliculass.rate %>
</p>

<%= link_to 'Edit', edit_peliculass_path(@peliculass) %> |
<%= link_to 'Back', peliculasses_path %>
